
@{
    ViewBag.Title = "Divisions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TrainingTracker.Models
@using TrainingTracker.HelpingClasses

<script type="text/javascript" src="~/Content/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/notifications/sweet_alert.min.js"></script>



<div class="content">
    <!-- Basic initialization -->
    <div class="panel panel-flat">
        <div class="panel-heading">


            <center><h3 class="panel-title"><b>Search Assignments</b></h3></center>
            <div class="heading-elements">
                <ul class="icons-list">


                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="" style="margin-left:20px;">
                <h3>Search: </h3>
                <form method="post" action="@Url.Action("displayManagerGroupTask","Manager")" class="form-group">


                    <div class="form-group col-md-3">
                        <label class="control-label">Task Name</label>
                        <input type="text" name="name" class="form-control" value="@ViewBag.taskName" maxlength="150" placeholder="Task Name" />
                    </div>



                    <div class="form-group col-md-3">
                        <label class="control-label">Task Type</label>
                        <select class="form-control" name="taskType">
                            <option value="" selected disabled>Select Task Type</option>
                            @if (ViewBag.taskType != null)
                            {
                                <option value="@ViewBag.taskType.Id" selected>@ViewBag.taskType.Name</option>
                                foreach (var item in ViewBag.taskTypes)
                                {
                                    if (ViewBag.taskType.Id != item.Id)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                }
                            }
                            else
                            {


                                foreach (var item in ViewBag.taskTypes)
                                {
                                    <option value="@item.Id">@item.Name</option>


                                }
                            }


                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label">Status</label>
                        <select class="form-control" name="status">
                            <option value="" selected disabled>Select status</option>
                            @if (ViewBag.status != -1)
                            {
                                <option value="@ViewBag.status" selected>@General_Purpose.getStatusValue(ViewBag.status)</option>
                                <option value="-1">Select Status</option>
                            }
                            else
                            {

                                <option value="-1" selected>Select Status</option>

                            }
                            @foreach (var item in ViewBag.statuses)
                            {
                                <option value="@item">@General_Purpose.getStatusValue(item)</option>


                            }


                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label"> Starting Date</label> <input type="date" name="startDate" class="form-control" value="@ViewBag.startDate" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label"> Ending Date</label> <input type="date" name="endDate" class="form-control" value="@ViewBag.endDate" />
                    </div>

                    <div class="form-group col-md-3" style="width:100%;">
                        @if (ViewBag.sd == 1)
                        {
                            <label class="control-label">

                                <input type="checkbox" name="start" value="" checked class="fancytree-checkbox" /> Start Date
                            </label>
                        }
                        else
                        {
                            <label class="control-label">

                                <input type="checkbox" name="start" value="" class="fancytree-checkbox" /> Start Date
                            </label>
                        }
                    </div>
                    <div class="form-group col-md-3" style="width:100%;">
                        @if (ViewBag.ed == 0)
                        {

                            <label class="control-label"><input type="checkbox" name="end" value="" class="fancytree-checkbox" /> End Date</label>

                        }
                        else
                        {
                            <label class="control-label"><input type="checkbox" name="end" value="" checked class="fancytree-checkbox" /> End Date</label>

                        }
                    </div>
                    <div class="form-group col-md-3" style="width:100%;">
                        @if (ViewBag.cd == 0)
                        {

                            <label class="control-label"><input type="checkbox" name="complete" value="" class="fancytree-checkbox" /> Complete Date </label>

                        }
                        else
                        {
                            <label class="control-label"><input type="checkbox" name="complete" value="" checked class="fancytree-checkbox" /> Complete Date </label>


                        }
                    </div>

                    <div class="form-group col-md-3">
                        <input type="submit" value="Search" class="btn btn-sm bg-primary-400" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <center><h3 class="panel-title"><b>List of Group Tasks</b></h3></center>
            <button class="btn  btn-sm  btn-info pull-right" id="cmd"><i class="fa fa-print"></i> Print</button>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>

                        <th>Group Task</th>
                        <th>Start Date</th>
                        <th>End Date</th>


                        <th>Lead</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        List<Manager> manager = ViewBag.managers;
                        foreach (GroupTasks_Details item in ViewBag.gtasks)
                        {
                            <tr>
                                <td>@item.GroupTask.Name</td>
                                <td>
                                    @item.StartDate.Value.ToString("dd/MM/yyyy")
                                </td>
                                <td>@item.EndDate.Value.ToString("dd/MM/yyyy")</td>


                                <td>@item.GroupTask_Manager.Where(x => x.LeadRole.Value == 1).FirstOrDefault().Manager.FirstName</td>
                                <td>
                                    @General_Purpose.getStatusValue(item.Status.Value)
                                </td>
                                <td>
                                    <a href="@Url.Action("grouptaskDetails","Task",new { v=item.Id})"> View</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>


        </div>














    </div>
    <div id="modal-delete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content login-form">

                <!-- Form -->
                <form class="modal-body " action="@Url.Action("deleteAssignment","Task")" method="post">

                    <div class="text-center">
                        <div class="icon-object border-slate-300 text-slate-300"><i class="icon-folder-upload"></i></div>
                        <h5 class="content-group" id="delText">Are You Sure ? <small class="display-block"></small></h5>
                    </div>
                    <div id="datadelete"></div>
                    <center>
                        <button type="button" data-dismiss="modal" class="btn  btn-sm bg-primary">Close</button>
                        <button type="submit" id="sbbutton1" class="btn  btn-sm btn-danger">Submit</button>


                    </center>

                </form>
                <!-- /form -->

            </div>
        </div>
    </div>




    <!-- /basic initialization -->
</div>
<div id="addComment" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" action="@Url.Action("addTraineeTask","Task")" method="post">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="taskName"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Status</label>
                        <div class="col-lg-9">
                            <select class="form-control" name="Status" id="Status">
                                <option disabled selected value="">Select task</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Notes</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" name="Comment" id="notes"></textarea>
                        </div>
                    </div>
                    <div id="data"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm  btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="sbbutton1" class="btn btn-sm  btn-primary">Assign</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="content"  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: white;" >
    <h3>University 1 (Division Field) - Living Field (Task Name Field)</h3>
    <p>
        <strong>Description (Task Description):</strong> Coordinate with all department heads on the requirements of recycling,
        shut off lights, close blinds etc.
    </p>
    <p>
        <strong>Complete:</strong> 0%
    </p>
    <p>
        <strong>Time (Task Hours field):</strong>
    </p>
    <p>
        <strong>Type (Task Type field):</strong>
    </p>
    <p>
        <strong>Resource (Task Cost field):</strong>
    </p>
    <table style="border: 1px solid black;border-collapse: collapse;
   width: 100%;">
        <thead style="padding: 10px;background-color:grey; color:white;">
            <tr>
                <th style="border: 1px solid black;height: 30px;">Responsibility</th>
                <th style="border: 1px solid black;height: 30px;">Name</th>
                <th style="border: 1px solid black;height: 30px;">Time</th>
                <th style="border: 1px solid black;height: 30px;">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black;height: 30px;">Prime new field</td>
                <td style="border: 1px solid black;height: 30px;">Trev t</td>
                <td style="border: 1px solid black;height: 30px;">Chief Transformation officer</td>
                <td style="border: 1px solid black;height: 30px;">trevt@test.com</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;height: 30px;">Prime new field</td>
                <td style="border: 1px solid black;height: 30px;">Trev t</td>
                <td style="border: 1px solid black;height: 30px;">Chief Transformation officer</td>
                <td style="border: 1px solid black;height: 30px;">trevt@test.com</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="editor"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script>
    $(document).ready(function () {
        $('#content').hide();
        $('#cmd').click(function () {
            $('#content').show();
            var pdf = new jsPDF('p', 'pt', 'letter')
                , source = $('#content')[0]
                , specialElementHandlers = {
                    '#bypassme': function (element, renderer) {
                        return true
                    }
                }
            margins = {
                top: 60,
                bottom: 60,
                left: 40,
                width: 522
            };
            pdf.fromHTML(
                source
                , margins.left
                , margins.top
                , {
                    'width': margins.width
                    , 'elementHandlers': specialElementHandlers
                },
                function (dispose) {
                    pdf.save('download_pdf.pdf');
                },
                margins
            )
            $('#content').hide();
        });
    });



       function displayDialog(id) {



        $.ajax({

               type: 'Post',
               url: '@Url.Action("getTaskStatus", "Task")',
               timeout: 100000000,
               data: { _id:id },
               dataType: "json",
               success: function (json) {
                   $('#status').empty();
                   $('#status').val(json.options);
                   $('#taskName').text(json.Id);
                   $('#addComment').modal('show')



               },
               error: function (data) {
                   alert(data)
                   $('.loading3').hide();
                   $('#curvechart_error').show();
                   $('#curve_chart').hide();
               }
           });
   }


</script>






